
        <%= simple_form_for [@user, @profile], url: { action: :update || :new } do |f| %>

          <div class="field">
            <div class="control">
            <%= f.input :firstname, wrapper:false, input_html: { autofocus: true, class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :lastname, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 80, end_year: Date.today.year, order: [:day, :month, :year],
                        wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :sex, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :phone_number, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :marital_status, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :state_of_origin, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :lga, wrapper:false, input_html: { class: "input"}, html_label: { class: "label"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :study, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :qualification, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :occupation, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :place_of_residence, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= f.input :religion, wrapper:false, input_html: { class: "input"} %>
            </div>
          </div>

          <div class="field">
            <div class="control">

            <%= f.submit "Submit", class: "button is-info" %>
            <%= link_to "Cancel", root_path, class: "button is-primary" %>
            </div>
          </div>

        <% end %>
