<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <h1 class="title is-4"> Post a Comment </h1>

        <article class="media">

              <div class="media-left">
                <figure class="image is-64x64">
                  <% if @post.user.profile.present? %>
                    <% if @post.user.profile.avatar.attached? %>
                      <%= image_tag(@post.user.profile.avatar) %>
                    <% end %>
                  <% end %>
                  <strong> <%= @post.user.username.capitalize %> </strong>
                </figure>
              </div>


          <div class="media-content">
            <div class="content">
              <p>
                <strong> <%= @post.title %> </strong><br />

                <% if @post.images.attached? %>
                  <% @post.images.each do |image| %>
                    <%= image_tag(image) %><br />
                  <% end %>
                <% end %>

                <%= render "error" %>

                <small>
                  <%= render "likepost" %>
                </small>
              </p>
            </div>

            <article class="media">
              <% @comments.each do |comment| %>

                <div class="media-content">
                  <% if comment.user.profile.present? %>
                    <% if comment.user.profile.avatar.attached? %>
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <%= image_tag(comment.user.profile.avatar) %>
                        </figure>
                      </div>
                    <% end %>
                  <% end %>
                  <strong><%= comment.user.username %> </strong><br />

                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= comment.body.capitalize %><br />

                        <% if comment.images.attached? %>
                          <% comment.images.each do |image| %>
                            <%= image_tag(image) %><br>
                          <% end %>
                        <% end %>

                        <small>
                          <% if comment.commentlikes.count == 0 %>
                           <% "" %>
                          <% else %>
                           <%= comment.commentlikes.count %> <%= comment.commentlikes.count == 1 ? "like" : "likes" %> .
                          <% end %>

                          <% before_commentlike = comment.commentlikes.find { |like_comment| current_user.id == like_comment.user_id } %>

                           <% if before_commentlike %>
                             <%= link_to "Unlike", post_comment_commentlike_path(@post.id, comment.id, before_commentlike), method: :DELETE %>
                           <% else %>
                             <%=link_to "Like", post_comment_commentlikes_path(@post.id, comment.id), method: :POST %>
                           <% end %><br />
                           <%= distance_of_time_in_words_to_now(comment.created_at, include_seconds: true)%> ago
                        </small>
                        <br /><br />
                      </p>
                    </div>
                  </div>
              <% end %>
                </div>
            </article>

          <article class="media box">
            <div class="media-content">
              <%= render "form" %><br />
            </div>
          </article>

      </div>
    </div>
  </div>
</div>
