<section class="section">
  <div class="container">
    <div class="columns">

      <article class="box">

        <% if current_user.profile.present? %>
          <%= link_to "View my profile", user_profile_path(current_user), class: "button is-primary" %>
        <% else %>
          <%= link_to "Create new profile", new_user_profile_path(current_user), class: "button is-info" %> <br />
        <% end %>

        <%= link_to "Post - Timeline", posts_path, class:"button is-link" %>
        <hr />

        <p class="title is-5"> All users </p>

        <% @users.each do |user| %>
          <% next if current_user.id == user.id %>
            <% if user.profile.present? %>
              <strong><%= user.profile.firstname.capitalize %> <%= user.profile.lastname.capitalize %> </strong>
                <%= link_to "Send Friend Request",  user_friend_requests_path(receiver_id: user.id, user_id: current_user.id), method: :POST %> |
                <%= link_to "User details", user_path(user.id), method: :GET %> <br />
            <% else %>
              <strong><%= user.username.capitalize %> </strong>
                <%= link_to "Send Friend Request",  user_friend_requests_path(receiver_id: user.id, user_id: current_user.id), method: :POST %> |
                <%= link_to "User details", user_path(user.id) %> <br />
            <% end %>
        <% end %><br />
      </article>

        <div class="box">
          <%= render "friend_request" %>
          <%= render "pending_request" %>
        </div>

        <article class="media box">
        <div class="media-content">
          <%= render "shared/friends" %>
          <%= render "received_request" %>
        </div>
        </article>




      </div>
    </div>
</section>
