<h2 class="title is-5"> List of Facebook members </h2>
<% @users.each do |receiver| %>

  <% next if (current_user.id == receiver.id) %> <!-- prevents user sending request to his/her self -->
    <% if receiver.profile.present? %>
      <strong> <%= receiver.profile.firstname.capitalize %> <%= receiver.profile.lastname.capitalize %> </strong>
      <%= link_to "Send Friend Request",  user_friend_requests_path(receiver_id: receiver.id), method: :POST %><br />
    <% else %>
      <strong> <%= receiver.username.capitalize %> </strong>
      <%= link_to "Send Friend Request",  user_friend_requests_path(receiver_id: receiver.id), method: :POST %><br />
    <% end %>

<% end %><br />

<%= link_to "<< Back to friends list" , user_friend_requests_path, class: "button is-info" %>
<%= link_to "continue to post", posts_path, class: "button is-primary" %>
